<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="Keywords" content="">
    <!--meta标签的作用是让当前viewport的宽度等于设备的宽度，同时不允许用户手动缩放。-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no,email=no">
</head>
<body class="nwrapper">
<div id="app"></div>
</body>
</html>