
.fix-go-top{
    width: 1rem; height: 1rem; border-radius: 1rem; display: none; position: fixed; z-index: 9; cursor: pointer; bottom: .5rem; right: .3rem; background: url(../images/dingbu.png) no-repeat; background-size: 100%;
}